<font color='red' style='font-size: 40px;'> 1) Trabalhando com Dataframes - Parte 1</font>
<hr style='border: 2px solid red;'>

## 1.1) Criaçao de DataFrame

In [2]:
from datetime import datetime, date
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(Cidade = 'Salvador', Populacao = 6., Time = 'Bahia', Data_Cadastro = date(2022, 12, 19)),
    Row(Cidade = 'Sao Paulo', Populacao = 45., Time = 'Palmeiras', Data_Cadastro = date(2022, 5, 5)),
    Row(Cidade = 'Recife', Populacao = 3., Time = 'Sport', Data_Cadastro = date(2022, 7, 2)),
    Row(Cidade = 'Maceio', Populacao = 2., Time = 'CSA', Data_Cadastro = date(2022, 8, 1))
])
df

DataFrame[Cidade: string, Populacao: double, Time: string, Data_Cadastro: date]

In [3]:
# Exibindo dados do DataFrame
df.show()

+---------+---------+---------+-------------+
|   Cidade|Populacao|     Time|Data_Cadastro|
+---------+---------+---------+-------------+
| Salvador|      6.0|    Bahia|   2022-12-19|
|Sao Paulo|     45.0|Palmeiras|   2022-05-05|
|   Recife|      3.0|    Sport|   2022-07-02|
|   Maceio|      2.0|      CSA|   2022-08-01|
+---------+---------+---------+-------------+

In [4]:
# Exibindo três registros do Dataframe na vertical
df.show(3, vertical = True)

-RECORD 0-------------------
 Cidade        | Salvador
 Populacao     | 6.0
 Time          | Bahia
 Data_Cadastro | 2022-12-19
-RECORD 1-------------------
 Cidade        | Sao Paulo
 Populacao     | 45.0
 Time          | Palmeiras
 Data_Cadastro | 2022-05-05
-RECORD 2-------------------
 Cidade        | Recife
 Populacao     | 3.0
 Time          | Sport
 Data_Cadastro | 2022-07-02
only showing top 3 rows

In [5]:
# Exibindo todos os dados com o collect()
df.collect()

[Row(Cidade='Salvador', Populacao=6.0, Time='Bahia', Data_Cadastro=datetime.date(2022, 12, 19)),
 Row(Cidade='Sao Paulo', Populacao=45.0, Time='Palmeiras', Data_Cadastro=datetime.date(2022, 5, 5)),
 Row(Cidade='Recife', Populacao=3.0, Time='Sport', Data_Cadastro=datetime.date(2022, 7, 2)),
 Row(Cidade='Maceio', Populacao=2.0, Time='CSA', Data_Cadastro=datetime.date(2022, 8, 1))]

In [6]:
# Sumarizando Estatísticas Descritivas 
df.select('Cidade', 'Populacao').describe().show()

+-------+---------+-----------------+
|summary|   Cidade|        Populacao|
+-------+---------+-----------------+
|  count|        4|                4|
|   mean|     null|             14.0|
| stddev|     null|20.73644135332772|
|    min|   Maceio|              2.0|
|    max|Sao Paulo|             45.0|
+-------+---------+-----------------+

In [7]:
# Exibindo o Schema do Dataframe
df.printSchema()

root
 |-- Cidade: string (nullable = true)
 |-- Populacao: double (nullable = true)
 |-- Time: string (nullable = true)
 |-- Data_Cadastro: date (nullable = true)

In [13]:
# Carregando o módulo de funçoes e criando uma Nova Coluna
from pyspark.sql.functions import upper, max, min, mean

df.withColumn('Cidade_U', upper(df.Cidade)).show()

+---------+---------+---------+-------------+---------+
|   Cidade|Populacao|     Time|Data_Cadastro| Cidade_U|
+---------+---------+---------+-------------+---------+
| Salvador|      6.0|    Bahia|   2022-12-19| SALVADOR|
|Sao Paulo|     45.0|Palmeiras|   2022-05-05|SAO PAULO|
|   Recife|      3.0|    Sport|   2022-07-02|   RECIFE|
|   Maceio|      2.0|      CSA|   2022-08-01|   MACEIO|
+---------+---------+---------+-------------+---------+

In [14]:
# Filtrando a Cidade de Salvador
df.filter(df.Cidade == 'Salvador').show()

+--------+---------+-----+-------------+
|  Cidade|Populacao| Time|Data_Cadastro|
+--------+---------+-----+-------------+
|Salvador|      6.0|Bahia|   2022-12-19|
+--------+---------+-----+-------------+

In [17]:
# Ordena o dataframe pela coluna Populacao
df.sort('Populacao', ascending = False).show()

+---------+---------+---------+-------------+
|   Cidade|Populacao|     Time|Data_Cadastro|
+---------+---------+---------+-------------+
|Sao Paulo|     45.0|Palmeiras|   2022-05-05|
| Salvador|      6.0|    Bahia|   2022-12-19|
|   Recife|      3.0|    Sport|   2022-07-02|
|   Maceio|      2.0|      CSA|   2022-08-01|
+---------+---------+---------+-------------+

In [18]:
# Renomeando uma coluna no dataframe
df.withColumnRenamed('Cidade_U', 'Cidade_UPPER').show()

+---------+---------+---------+-------------+
|   Cidade|Populacao|     Time|Data_Cadastro|
+---------+---------+---------+-------------+
| Salvador|      6.0|    Bahia|   2022-12-19|
|Sao Paulo|     45.0|Palmeiras|   2022-05-05|
|   Recife|      3.0|    Sport|   2022-07-02|
|   Maceio|      2.0|      CSA|   2022-08-01|
+---------+---------+---------+-------------+

In [19]:
# Criando uma tabela temporária em memória com os dados e utilizando consulta SQL
df.createOrReplaceTempView('Dados')
spark.sql('select count(*) as quantidade from Dados').show()

+----------+
|quantidade|
+----------+
|         4|
+----------+

## 1.2) Transformando um RDD em Dataframe

In [27]:
# carregando os dados sobre Capital de países
paises = [('Brasil', 100000), ('Argentina', 20000), ('Australia', 35000), ('Italia', 40000), ('Egito', 65000), ('Mexico', 80000)]
rddpaises = spark.sparkContext.parallelize(paises)

In [28]:
# Convertendo os dados do RDD para Dataframe com a operaçao toDF()
dataframerdd = rddpaises.toDF()

In [29]:
# Exibindo os dados do Dataframe
dataframerdd.show()

+---------+------+
|       _1|    _2|
+---------+------+
|   Brasil|100000|
|Argentina| 20000|
|Australia| 35000|
|   Italia| 40000|
|    Egito| 65000|
|   Mexico| 80000|
+---------+------+

In [30]:
# Criando o Schema das Colunas dos Campos do Dataframe
Colunas = ['Pais', 'Total_capital(Bilhoes)']
dataframerdd2 = rddpaises.toDF(Colunas)
dataframerdd2.printSchema()
dataframerdd2.show(truncate = False)

root
 |-- Pais: string (nullable = true)
 |-- Total_capital(Bilhoes): long (nullable = true)

+---------+----------------------+
|Pais     |Total_capital(Bilhoes)|
+---------+----------------------+
|Brasil   |100000                |
|Argentina|20000                 |
|Australia|35000                 |
|Italia   |40000                 |
|Egito    |65000                 |
|Mexico   |80000                 |
+---------+----------------------+

<font color='red' style='font-size: 40px;'> 2) Trabalhando com Dataframes - Parte 2</font>
<hr style='border: 2px solid red;'>

# Carregando dados de um arquivo para um Dataframe

> 1. Vamos analisar dados sobre alimentos, buscando realizar:
    
- Limpeza dos dados
- Separaçao de determinadas colunas
- Busca de respostas

> 2. Questoes a serem levantadas:
    
- Há inconsistência nos dados?
- É possível verificar características de sobrepeso nos dados, já que este atributo nao existe?
- Qual resultado é possível interpretar com a pesquisa por sobrepeso?

In [31]:
from pyspark.sql import SparkSession

# criando um objeto SparkSession e um appName
spark = SparkSession.builder.appName('fooddf').getOrCreate()

In [32]:
# Fazendo leitura do arquivo food_coded.csv
df = spark.read.option('header', 'True').csv('food_coded.csv')

In [33]:
# Exibindo 10 primeiras linhas
df.show(10)

+---------------+------+--------------------+----------------+------------+--------------+------+--------------------+--------------------+---------------------------+----+----------------------------+-------+--------------------+------------------+-----+--------------------+--------------------+---------------------+----------+----------+-----------+--------+----------------+-----------------+--------------------+-----------------+--------+--------------------+-----+---------+-----------+----------+---------------+--------------------+--------------------+----------------+------+-----------+------------+--------------+--------------+--------------------+----------------+--------------------+-----------------+-------------+------------+------------+------------+----------------------+----+------+---------+-----------------+---------------+-----------+-----------+--------+---------------+--------------------+
|            GPA|Gender|           breakfast|calories_chicken|calories_day|calories_scone|coffee|        comfort_food|comfort_food_reasons|comfort_food_reasons_coded9|cook|comfort_food_reasons_coded11|cuisine|        diet_current|diet_current_coded|drink|      eating_changes|eating_changes_coded|eating_changes_coded1|eating_out|employment|ethnic_food|exercise|father_education|father_profession|         fav_cuisine|fav_cuisine_coded|fav_food|      food_childhood|fries|fruit_day|grade_level|greek_food|healthy_feeling|        healthy_meal|          ideal_diet|ideal_diet_coded|income|indian_food|italian_food|life_rewarding|marital_status| meals_dinner_friend|mother_education|   mother_profession|nutritional_check|on_off_campus|parents_cook|pay_meal_out|persian_food|self_perception_weight|soup|sports|thai_food|tortilla_calories|turkey_calories|type_sports|veggies_day|vitamins|waffle_calories|              weight|
+---------------+------+--------------------+----------------+------------+--------------+------+--------------------+--------------------+---------------------------+----+----------------------------+-------+--------------------+------------------+-----+--------------------+--------------------+---------------------+----------+----------+-----------+--------+----------------+-----------------+--------------------+-----------------+--------+--------------------+-----+---------+-----------+----------+---------------+--------------------+--------------------+----------------+------+-----------+------------+--------------+--------------+--------------------+----------------+--------------------+-----------------+-------------+------------+------------+------------+----------------------+----+------+---------+-----------------+---------------+-----------+-----------+--------+---------------+--------------------+
|            2.4|     2|                   1|             430|         nan|           315|     1|                none|we dont have comf...|                          9|   2|                           9|    nan|eat good and exer...|                 1|    1|         eat faster |                   1|                    1|         3|         3|          1|       1|               5|        profesor |      Arabic cuisine|                3|       1|  rice  and chicken |    2|        5|          2|         5|              2|     looks not oily |      being healthy |               8|     5|          5|           5|             1|             1|rice, chicken,  soup|               1|          unemployed|                5|            1|           1|           2|           5|                     3|   1|     1|        1|             1165|            345| car racing|          5|       1|           1315|                 187|
|          3.654|     1|                   1|             610|           3|           420|     2|chocolate, chips,...|Stress, bored, anger|                          1|   3|                           1|      1|I eat about three...|                 2|    2|I eat out more th...|                   1|                    2|         2|         2|          4|       1|               2|   Self employed |             Italian|                1|       1|chicken and biscu...|    1|        4|          4|         4|              5|Grains, Veggies, ...|Try to eat 5-6 sm...|               3|     4|          4|           4|             1|             2|Pasta, steak, chi...|               4|           Nurse RN |                4|            1|           1|           4|           4|                     3|   1|     1|        2|              725|            690|Basketball |          4|       2|            900|                 155|
|            3.3|     1|                   1|             720|           4|           420|     2|frozen yogurt, pi...|     stress, sadness|                          1|   1|                           1|      3|toast and fruit f...|                 3|    1|sometimes choosin...|                   1|                    3|         2|         3|          5|       2|               2|    owns business|             italian|                1|       3|mac and cheese, p...|    1|        5|          3|         5|              6|usually includes ...|i would say my id...|               6|     6|          5|           5|             7|             2|chicken and rice ...|               2|       owns business|                4|            2|           1|           3|           5|                     6|   1|     2|        5|             1165|            500|       none|          5|       1|            900|I'm not answering...|
|            3.2|     1|                   1|             430|           3|           420|     2|Pizza, Mac and ch...|             Boredom|                          2|   2|                           2|      2|College diet, che...|                 2|    2|Accepting cheap a...|                   1|                    3|         2|         3|          5|       3|               2|        Mechanic |            Turkish |                3|       1|Beef stroganoff, ...|    2|        4|          4|         5|              7|Fresh fruits& veg...|Healthy, fresh ve...|               2|     6|          5|           5|             2|             2|    Grilled chicken |            null|                null|             null|         null|        null|        null|        null|                  null|null|  null|     null|             null|           null|       null|       null|    null|           null|                null|
| Stuffed Shells|  null|                null|            null|        null|          null|  null|                null|                null|                       null|null|                        null|   null|                null|              null| null|                null|                null|                 null|      null|      null|       null|    null|            null|             null|                null|             null|    null|                null| null|     null|       null|      null|           null|                null|                null|            null|  null|       null|        null|          null|          null|                null|            null|                null|             null|         null|        null|        null|        null|                  null|null|  null|     null|             null|           null|       null|       null|    null|           null|                null|
|Homemade Chili"|     4|Special Education...|               2|           1|             1|     2|                   5|                   5|                          1|   2|                           5|    725|                 690|               nan|    3|                   1|                1315|        Not sure, 240|      null|      null|       null|    null|            null|             null|                null|             null|    null|                null| null|     null|       null|      null|           null|                null|                null|            null|  null|       null|        null|          null|          null|                null|            null|                null|             null|         null|        null|        null|        null|                  null|null|  null|     null|             null|           null|       null|       null|    null|           null|                null|
|            3.5|     1|                   1|             720|           2|           420|     2|Ice cream, chocol...|Stress, boredom, ...|                          1|   1|                           1|      2|I try to eat heal...|                 2|    2|I have eaten gene...|                   3|                    4|         2|         2|          4|       1|               4|               IT|            Italian |                1|       3|Pasta, chicken te...|    1|        4|          4|         4|              6|A lean protein su...|Ideally I would l...|               2|     6|          2|           5|             1|             1|Chicken Parmesan,...|               5|Substance Abuse C...|                3|            1|           1|           4|           2|                     4|   1|     1|        4|              940|            500|   Softball|          4|       2|            760|                 190|
|           2.25|     1|                   1|             610|           3|           980|     2|Candy, brownies a...|None, i don't eat...|                          4|   3|                           4|    nan|My current diet i...|                 2|    2|Eating rice every...|                   1|                    3|         1|         3|          4|       2|               1|      Taxi Driver|             African|                6|       3|Fries, plaintain ...|    1|        2|          2|         2|              4|Requires veggies,...|My ideal diet is ...|               2|     1|          5|           5|             4|             2|Anything they'd w...|               1|        Hair Braider|                1|            1|           2|           5|           5|                     5|   1|     2|        4|              940|            345|      None.|          1|       2|           1315|                 190|
|            3.8|     2|                   1|             610|           3|           420|     2|Chocolate, ice cr...|     stress, boredom|                          1|   2|                           1|      1|I eat a lot of ch...|                 3|    1|I started eating ...|                   2|                    5|         2|         3|          5|       1|               4|       Assembler |                Thai|                4|       1|grilled chicken, ...|    1|        4|          4|         5|              4|Protein, vegetabl...|I would ideally l...|               2|     4|          5|           5|             8|             1|Grilled chicken, ...|               4|          Journalist|                4|            2|           2|           2|           5|                     4|   1|     1|        5|              940|            690|     soccer|          4|       1|           1315|                 180|
|            3.3|     1|                   1|             720|           3|           420|     1|Ice cream, cheese...|I eat comfort foo...|                          1|   3|                           1|      1|I eat a very heal...|                 1|    2|Freshmen year i a...|                   2|                    5|         2|         2|          2|       2|               3|     Business guy|Anything american...|                5|       1|chicken, cheesey ...|    1|        5|          2|         3|              3|A healthy meal ha...|My ideal diet is ...|               2|     5|          1|           3|             3|             1|chicken, steak, p...|               2|                cook|                4|            1|           1|           5|           1|                     3|   1|     2|        1|              725|            500|       none|          4|       2|           1315|                 137|
+---------------+------+--------------------+----------------+------------+--------------+------+--------------------+--------------------+---------------------------+----+----------------------------+-------+--------------------+------------------+-----+--------------------+--------------------+---------------------+----------+----------+-----------+--------+----------------+-----------------+--------------------+-----------------+--------+--------------------+-----+---------+-----------+----------+---------------+--------------------+--------------------+----------------+------+-----------+------------+--------------+--------------+--------------------+----------------+--------------------+-----------------+-------------+------------+------------+------------+----------------------+----+------+---------+-----------------+---------------+-----------+-----------+--------+---------------+--------------------+
only showing top 10 rows

In [34]:
# Exibindo o Schema
df.printSchema()

root
 |-- GPA: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- breakfast: string (nullable = true)
 |-- calories_chicken: string (nullable = true)
 |-- calories_day: string (nullable = true)
 |-- calories_scone: string (nullable = true)
 |-- coffee: string (nullable = true)
 |-- comfort_food: string (nullable = true)
 |-- comfort_food_reasons: string (nullable = true)
 |-- comfort_food_reasons_coded9: string (nullable = true)
 |-- cook: string (nullable = true)
 |-- comfort_food_reasons_coded11: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- diet_current: string (nullable = true)
 |-- diet_current_coded: string (nullable = true)
 |-- drink: string (nullable = true)
 |-- eating_changes: string (nullable = true)
 |-- eating_changes_coded: string (nullable = true)
 |-- eating_changes_coded1: string (nullable = true)
 |-- eating_out: string (nullable = true)
 |-- employment: string (nullable = true)
 |-- ethnic_food: string (nullable = true)
 |-- exercise: string (nullable = true)
 |-- father_education: string (nullable = true)
 |-- father_profession: string (nullable = true)
 |-- fav_cuisine: string (nullable = true)
 |-- fav_cuisine_coded: string (nullable = true)
 |-- fav_food: string (nullable = true)
 |-- food_childhood: string (nullable = true)
 |-- fries: string (nullable = true)
 |-- fruit_day: string (nullable = true)
 |-- grade_level: string (nullable = true)
 |-- greek_food: string (nullable = true)
 |-- healthy_feeling: string (nullable = true)
 |-- healthy_meal: string (nullable = true)
 |-- ideal_diet: string (nullable = true)
 |-- ideal_diet_coded: string (nullable = true)
 |-- income: string (nullable = true)
 |-- indian_food: string (nullable = true)
 |-- italian_food: string (nullable = true)
 |-- life_rewarding: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- meals_dinner_friend: string (nullable = true)
 |-- mother_education: string (nullable = true)
 |-- mother_profession: string (nullable = true)
 |-- nutritional_check: string (nullable = true)
 |-- on_off_campus: string (nullable = true)
 |-- parents_cook: string (nullable = true)
 |-- pay_meal_out: string (nullable = true)
 |-- persian_food: string (nullable = true)
 |-- self_perception_weight: string (nullable = true)
 |-- soup: string (nullable = true)
 |-- sports: string (nullable = true)
 |-- thai_food: string (nullable = true)
 |-- tortilla_calories: string (nullable = true)
 |-- turkey_calories: string (nullable = true)
 |-- type_sports: string (nullable = true)
 |-- veggies_day: string (nullable = true)
 |-- vitamins: string (nullable = true)
 |-- waffle_calories: string (nullable = true)
 |-- weight: string (nullable = true)

In [35]:
# Selecionando algumas colunas
df.select('mother_profession', 'type_sports', 'Gender', 'weight', 'calories_day').show(30)

+--------------------+--------------------+------+--------------------+------------+
|   mother_profession|         type_sports|Gender|              weight|calories_day|
+--------------------+--------------------+------+--------------------+------------+
|          unemployed|          car racing|     2|                 187|         nan|
|           Nurse RN |         Basketball |     1|                 155|           3|
|       owns business|                none|     1|I'm not answering...|           4|
|                null|                null|     1|                null|           3|
|                null|                null|  null|                null|        null|
|                null|                null|     4|                null|           1|
|Substance Abuse C...|            Softball|     1|                 190|           2|
|        Hair Braider|               None.|     1|                 190|           3|
|          Journalist|              soccer|     2|                 180|           3|
|                cook|                none|     1|                 137|           3|
|Elementary School...|                none|     1|                 180|         nan|
|  Pharmaceutical rep|        field hockey|     1|                 125|           3|
|     Chidos Cleaners|              soccer|     1|                 116|           3|
|     Court Reporter |             Running|     1|                 110|           4|
|Child care provider |Soccer and basket...|     2|                 264|           3|
|      business owner|intramural volley...|     1|                 123|           3|
|      Charity worker|              Hockey|     2|                 185|           3|
|           Librarian|              Hockey|     2|                 180|         nan|
|              Police|                 nan|     1|                 145|           3|
|    stay at home mom|              hockey|     2|                 170|           3|
|    Daycare provider|            dancing |     1|                 135|           3|
|  physical therapist|          basketball|     2|                 165|           2|
|             Teacher|              Soccer|     2|                 175|           3|
|          House wife|              Tennis|     2|                 195|           3|
|       Underwiriter |   tennis soccer gym|     2|                 185|           3|
|         Beautician |     Gaelic Football|     2|                 185|           3|
|          Unemployed|                none|     1|                 105|           2|
|                null|                null|     1|                null|           3|
|                null|                null|     3|                null|           1|
|Doctors Billing A...|              Hockey|     2|                 160|           2|
+--------------------+--------------------+------+--------------------+------------+
only showing top 30 rows

In [36]:
# utilizando funcoes do pyspark
from pyspark.sql.functions import * # Importando todas as Bibliotecas

# Filtrando os dados que nao sao nulos
resultado_df1 = df.filter(df.weight.isNotNull()).select('mother_profession', 'type_sports', 'Gender', 'weight', 'calories_day')

# Exibindo os dados
resultado_df1.show()

+--------------------+--------------------+------+--------------------+------------+
|   mother_profession|         type_sports|Gender|              weight|calories_day|
+--------------------+--------------------+------+--------------------+------------+
|          unemployed|          car racing|     2|                 187|         nan|
|           Nurse RN |         Basketball |     1|                 155|           3|
|       owns business|                none|     1|I'm not answering...|           4|
|Substance Abuse C...|            Softball|     1|                 190|           2|
|        Hair Braider|               None.|     1|                 190|           3|
|          Journalist|              soccer|     2|                 180|           3|
|                cook|                none|     1|                 137|           3|
|Elementary School...|                none|     1|                 180|         nan|
|  Pharmaceutical rep|        field hockey|     1|                 125|           3|
|     Chidos Cleaners|              soccer|     1|                 116|           3|
|     Court Reporter |             Running|     1|                 110|           4|
|Child care provider |Soccer and basket...|     2|                 264|           3|
|      business owner|intramural volley...|     1|                 123|           3|
|      Charity worker|              Hockey|     2|                 185|           3|
|           Librarian|              Hockey|     2|                 180|         nan|
|              Police|                 nan|     1|                 145|           3|
|    stay at home mom|              hockey|     2|                 170|           3|
|    Daycare provider|            dancing |     1|                 135|           3|
|  physical therapist|          basketball|     2|                 165|           2|
|             Teacher|              Soccer|     2|                 175|           3|
+--------------------+--------------------+------+--------------------+------------+
only showing top 20 rows

In [37]:
# Retirando por meio de REGEX todos os caracteres que nao sejam numericos do campo weight
resultado_df2 = resultado_df1.filter(col('weight').rlike('^[0-9]*$'))
resultado_df2.show()

+--------------------+--------------------+------+------+------------+
|   mother_profession|         type_sports|Gender|weight|calories_day|
+--------------------+--------------------+------+------+------------+
|          unemployed|          car racing|     2|   187|         nan|
|           Nurse RN |         Basketball |     1|   155|           3|
|Substance Abuse C...|            Softball|     1|   190|           2|
|        Hair Braider|               None.|     1|   190|           3|
|          Journalist|              soccer|     2|   180|           3|
|                cook|                none|     1|   137|           3|
|Elementary School...|                none|     1|   180|         nan|
|  Pharmaceutical rep|        field hockey|     1|   125|           3|
|     Chidos Cleaners|              soccer|     1|   116|           3|
|     Court Reporter |             Running|     1|   110|           4|
|Child care provider |Soccer and basket...|     2|   264|           3|
|      business owner|intramural volley...|     1|   123|           3|
|      Charity worker|              Hockey|     2|   185|           3|
|           Librarian|              Hockey|     2|   180|         nan|
|              Police|                 nan|     1|   145|           3|
|    stay at home mom|              hockey|     2|   170|           3|
|    Daycare provider|            dancing |     1|   135|           3|
|  physical therapist|          basketball|     2|   165|           2|
|             Teacher|              Soccer|     2|   175|           3|
|          House wife|              Tennis|     2|   195|           3|
+--------------------+--------------------+------+------+------------+
only showing top 20 rows

In [39]:
# Gerando uma agregaçao dos dados por Gender e Weight
resultado_df2.groupBy('Gender', 'weight').count().orderBy('weight').show()

+------+------+-----+
|Gender|weight|count|
+------+------+-----+
|     1|     1|    1|
|     1|   100|    1|
|     1|   105|    1|
|     1|   110|    1|
|     1|   112|    1|
|     1|   113|    1|
|     1|   115|    1|
|     1|   116|    1|
|     1|   120|    3|
|     1|   123|    1|
|     1|   125|    4|
|     1|   127|    1|
|     1|   128|    2|
|     1|   129|    2|
|     1|   130|    3|
|     1|   135|    7|
|     2|   135|    1|
|     1|   137|    1|
|     2|   140|    2|
|     1|   140|    6|
+------+------+-----+
only showing top 20 rows

In [42]:
# Selecionando os registros cujos weight >= 150, indicando sobrepeso, separando por tipo de esporte
resultado_df3 = resultado_df2.select('type_sports', when(resultado_df2.weight >= 150, 'Sobrepeso'))
resultado_df3.show()

+--------------------+--------------------------------------------+
|         type_sports|CASE WHEN (weight >= 150) THEN Sobrepeso END|
+--------------------+--------------------------------------------+
|          car racing|                                   Sobrepeso|
|         Basketball |                                   Sobrepeso|
|            Softball|                                   Sobrepeso|
|               None.|                                   Sobrepeso|
|              soccer|                                   Sobrepeso|
|                none|                                        null|
|                none|                                   Sobrepeso|
|        field hockey|                                        null|
|              soccer|                                        null|
|             Running|                                        null|
|Soccer and basket...|                                   Sobrepeso|
|intramural volley...|                                        null|
|              Hockey|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|                 nan|                                        null|
|              hockey|                                   Sobrepeso|
|            dancing |                                        null|
|          basketball|                                   Sobrepeso|
|              Soccer|                                   Sobrepeso|
|              Tennis|                                   Sobrepeso|
+--------------------+--------------------------------------------+
only showing top 20 rows

In [43]:
# Retirando as informacoes nulas de Sobrepeso
resultado_df4 = resultado_df3.filter(resultado_df3[1].isNotNull())
resultado_df4.show()

+--------------------+--------------------------------------------+
|         type_sports|CASE WHEN (weight >= 150) THEN Sobrepeso END|
+--------------------+--------------------------------------------+
|          car racing|                                   Sobrepeso|
|         Basketball |                                   Sobrepeso|
|            Softball|                                   Sobrepeso|
|               None.|                                   Sobrepeso|
|              soccer|                                   Sobrepeso|
|                none|                                   Sobrepeso|
|Soccer and basket...|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|              hockey|                                   Sobrepeso|
|          basketball|                                   Sobrepeso|
|              Soccer|                                   Sobrepeso|
|              Tennis|                                   Sobrepeso|
|   tennis soccer gym|                                   Sobrepeso|
|     Gaelic Football|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|           Lacrosse |                                   Sobrepeso|
|                 nan|                                   Sobrepeso|
|                 nan|                                   Sobrepeso|
|      none organized|                                   Sobrepeso|
+--------------------+--------------------------------------------+
only showing top 20 rows

In [44]:
# Retirando as informacoes none, None., nan do primeiro campo (type_sports)
resultado_df4.filter((resultado_df3[0] != 'none') & (resultado_df3[0] != 'None.') & (resultado_df3[0] != 'nan')).show()

+--------------------+--------------------------------------------+
|         type_sports|CASE WHEN (weight >= 150) THEN Sobrepeso END|
+--------------------+--------------------------------------------+
|          car racing|                                   Sobrepeso|
|         Basketball |                                   Sobrepeso|
|            Softball|                                   Sobrepeso|
|              soccer|                                   Sobrepeso|
|Soccer and basket...|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|              hockey|                                   Sobrepeso|
|          basketball|                                   Sobrepeso|
|              Soccer|                                   Sobrepeso|
|              Tennis|                                   Sobrepeso|
|   tennis soccer gym|                                   Sobrepeso|
|     Gaelic Football|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|           Lacrosse |                                   Sobrepeso|
|      none organized|                                   Sobrepeso|
|            softball|                                   Sobrepeso|
|            Lacrosse|                                   Sobrepeso|
|           Softball |                                   Sobrepeso|
|             Dancing|                                   Sobrepeso|
+--------------------+--------------------------------------------+
only showing top 20 rows